VITE_API_BASE_URL=http://localhost:3000
VITE_EVENTS_BASE_URL=http://localhost:3003
VITE_ROOT_CONFIG_URL=//localhost:5173/lab-root-config.js
VITE_TOPOLOGY_MFE_URL=//localhost:5174/lab-topology-mfe.js
VITE_TRAFFIC_MFE_URL=//localhost:5175/lab-traffic-mfe.js
